{% extends "colleger/index_base.html" %}
{% block mainbody %}

<style>
.wrapli{
margin-left:20px;
}
.wrapli li{
margin-bottom:7px;
font-size:15px;
}
a{
cursor:pointer; }
</style>

<div class="col-sm-10">
	<div class="wrap">
	<h4 class="well">系统通知</h4>
	<ul class="list-unstyled wrapli">
		<li>
			<ul class="list-inline">
				<li>操作系统</li>
				<li>windows专业版</li>
			</ul>
		</li>
		<li>
		<ul class="list-inline">
				<li>运行环境</li>
				<li>basehttp</li>
			</ul>
		</li>
		<li>
		<ul class="list-inline">
				<li>Python版本</li>
				<li>2.7.3</li>
		</ul>
		</li>
		<li>
		<ul class="list-inline">
				<li>Django版本</li>
				<li>1.10.6</li>
		</ul>
		</li>
		<li>
		<ul class="list-inline">
				<li>MySQL版本</li>
				<li>5.5.53</li>
		</ul>
		</li>
		<li>
		<ul class="list-inline">
				<li>执行时间限制</li>
				<li>30s</li>
		</ul>
		</li>
	</ul>
	</div>





	<div class="wrap">
	<h4 class="well">发起团队</h4>
	<ul class="list-unstyled wrapli">
	<li>
	<ul class="list-inline">
		<li>软工3班</li>
		<li>python小组</li>
	</ul>
	</li>
	<li>
	<ul class="list-inline">
		<li>核心开发者</li>
		<li>许震、刘凯、侯典范、张卉</li>
	</ul>
	</li>
	<li>
	<ul class="list-inline">
		<li>联系开发</li>
		<li><a href="https://www.jb-hacker.top">thginWalker</a></li>
		
	</ul>
	</li>
	</ul>
	</div>


</div>
    {% endblock %}

